@charset "UTF-8";


body {
    
    background-color:rgb(2, 2, 44);
    margin-bottom: 0em;
    margin-top: 0em;
    position: relative;
    z-index: -1;
}

.wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color:aliceblue;
    padding-left: 3em;
    padding-bottom: 1em;
    border-left: 25px solid cadetblue;
   
}

h1 {
    font-family: Jura, sans-serif;
    font-size: 8em;
    margin-top: -0em;
    margin-bottom: -.2em;
    color: goldenrod;
    padding-left: 0em;
    text-shadow: .1em .1em .1em midnightblue;

}

h2 {
    font-family: Jura, sans-serif;
    font-size: 3em;
    color:midnightblue;
    font-weight: 800;
    margin-left: 50%;
    position: relative;
    top: -.15em;
    }

#home h3 {
    font-family: Jura, sans-serif;
    font-size: 2em;
    color: midnightblue;
    margin-left: 10em;
    margin-top: -.5em;
    margin-bottom: 0em;
}

#about h3 {
    font-family: Jura, sans-serif;
    font-size: 2em;
    color: midnightblue;
    margin-left: 0em;
    margin-bottom: 0em; 
}

#home h4 {
    font-family: Jura, sans-serif;
    font-size: 1.5em;
    margin-bottom: 0em;
    font-weight: 600;
}

#horizon h3 {
    font-size: 2em;
    margin-left: 26%;
    color: midnightblue;
    font-family: Arsenal;
}

#resources h3 {
    font-family: Jura, sans-serif;
    font-size: 2em;
    color: midnightblue;
    position: relative;
    left: 9.7em;
}

#news h3 {
    font-family: Jura, sans-serif;
    font-size: 2em;
    color: midnightblue;
    
}

#catchphrase {
    font-size: 3em;
    font-family: Jura;
    margin-top: 0em;
    padding-left: 0em;
    color: cadetblue;
    font-weight: 800;
}

p, body .intro ul {
    font-size: 1.5em;
    font-family: Arsenal;
    font-weight: 100;
}

header {
    min-width: 400px;
    float: left;

}

.intro {
    clear: both;
    width: 760px;
    position: relative;
    left: 20em;
    top: -2em;
    z-index: 2;
    margin-bottom: 2.2em;
}

article .excerpt { 
    margin-left: 19em;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 0;
    -webkit-box-orient: vertical;  
    width: 760px;
    height: 185px;
    padding: 1em;
    border: 10px solid cadetblue;
    border-radius: 25px;
    margin-bottom: 1em;
    position: relative;
    z-index: 2;
}

.invisible {
    display: none;
}

#home nav ul, #about nav ul, #books nav ul, #horizon nav ul, #news nav ul, #contact nav ul, #gateway nav ul, #resources nav ul {
    list-style-type: none;
    margin-left: -1em;
    position: relative;
    z-index: 0;
    top: -3em;
    background-color: cadetblue;
    padding-top: 5em;
    padding-bottom: 1em;
    height: 29.5em;
    border-radius: 25px;
    width: 16em;

}

#home nav ul li, #about nav ul li, #books nav ul li, #horizon nav ul li, #news nav ul li, #contact nav ul li, #gateway nav ul li, #resources nav ul li {
    font-size: 2em;
    margin-bottom: .85em;
    position: relative;
    top: -1.4em;
    font-family: Jura, sans-serif;
}

#home header nav ul a, #about header nav ul a, #books header nav ul a, #horizon header nav ul a, #news header nav ul a, #contact header nav ul a, #gateway nav ul a, #resources nav ul a  {
    text-decoration: none;
}

.relative {
    position: relative;
    z-index: 2;
}

a:link {
    color: midnightblue;
}

header nav a:visited {
    color:whitesmoke;
}

header nav ul a:active {
    color:indianred;
}

nav ul a:hover {
    color:darkgoldenrod;
}

.featuredimage {
    border: 15px solid cadetblue;
    padding: 10px;
    border-radius: 15%;
    width: 760px;
    height: 520px;
    float: left;
    margin-top: -39.4em;
    margin-left: 36%;

}

footer {
    margin-top: 2em;
}

.p1 {
    clear: both;
    width: 1200px;
    height: 640px;
    
}

.p1 img {
    width: 400px;
    height: 600px;
    float: left;
    padding: 2em;
    padding-left: 8em;
}

.p1 p {
    padding: 2em;
    width: 400px;
    float: left;
}

.p1 span {
    font-size: 1.3em;
}

.p2 img {
    clear: both;
    width: 400px;
    height: 600px;
    float: right;
    padding: 2em;
    padding-left: 1em;
    padding-right: 12em;
}

.p2 p {
    padding: 2em;
    width: 400px;
    float: right;
}

.p2 span {
    font-size: 1.3em;
}

hr {
    width: 80%;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.5em;
}

.endmark {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 3px;

}

.bookimage { 
    width: 700px;
    height: 780px;
    margin-left: 21.5em;

}

.horizonp p {
    width: 700px;
    margin-left: 15em;
}
#horizon .may {
    font-size: 2em;
}

#news .intro ul {
    margin-top: 1.8em;
}

#contact fieldset {
    width: 760px;
    margin-left: 24%;
    border: 15px solid cadetblue;
    margin-top: -3em;
    margin-bottom: 1em;
    border-radius: 25px;
}

#contact .fixedspace {
    margin-bottom: 4em;
}

fieldset legend {
    font-family: Jura, sans-serif;
    font-size: 2em;
    padding: .5em;
    border: 5px solid cadetblue;
    color: midnightblue;
    border-radius: 25px;
}

fieldset input[type=text], fieldset input[type=email] {
    width: 22em;
    margin-top: 1.5em;
    margin-right: 1.5em;
    border-radius: 25px;
    height: 2em;
}

fieldset p {
    font-size: 1.3em;
}

fieldset label {
    font-family: Arsenal, sans-serif;
    font-size: 1.3em;
    margin-left: 0em;
    
}

textarea {
    border-radius: 25px;
}

fieldset button {
    font-family: Jura, sans-serif;
    font-size: 2em;
    padding: .3em;
    margin: .5em;
    border-radius: 15px;
    background-image: radial-gradient(#e6e6e6 33%, #cfe2e2 88%);
    color: midnightblue;
    border: 5px solid midnightblue;
}

#contact247 {
    clear: both;
    margin-left: 27%;
    padding-top: 1em;
    position: relative;
    top: -2em;
}

.icon-bar {
    font-size: 1.5em;
}

footer p {
    font-size: 1.2em;
    font-family: Jura, sans-serif;
    
}

small {
    font-family: Jura, sans-serif;
}

#resources dl {
    font-size: 1.5em;
    font-family: Arsenal;
    width: 760px;
    position: relative;
    left: 13em;
}

#resources dd {
    margin-bottom: .5em;
}

.fixedspace {
    background-image: url(images/milkyway.webp);
    width: 1248px;
    height: 150px;
    z-index: 0;
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
    left: -3em;
    top: -1.8em; 
    

    
}

@media screen and (max-width: 400px) {
    header {
        max-width: 400px;     

    }

    featuredimage {
        border: 15px solid cadetblue;
        padding: 10px;
        border-radius: 15%;
        width: 254px;
        height: 174px;
        /*margin-top: -39.4em;*/
        margin-left: auto;
        margin-right: auto;
    
    }


